@import './global.scss';

.footer-container {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--secondary-color-4);
    color: var(--primary-color-dark);
    span {
        color: var(--primary-color-light);
        font-weight: bold;
        margin-bottom: 10px;
        transition: 0.3s;
    }
    small:hover {
        color: var(--secondary-color-2);
        font-size: 16px;
    }
}