@import './global.scss';

.footer-container {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--secondary-color-4);
    color: var(--primary-color-dark);
    span {
        color: var(--secondary-color-3);
        font-weight: bold;
        margin-bottom: 10px;
        color: var(--primary-color-light);
    }
}