:root {
    --primary-color-dark: #495E57;
    --primary-color-light: #F4CE14;
    --secondary-color-1: #EE9972;
    --secondary-color-2: #FBDABB;
    --secondary-color-3: #EDEFEE;
    --secondary-color-4: #333333;
    --font-primary: 'Karla', Arial, Helvetica, sans-serif;
    --font-secondary: 'Markazi Text', Helvetica, sans-serif;
}

body {
    font-family: var(--font-primary) !important;
    font-size: 18px !important;
}

h1 {
    font-family: var(--font-secondary) !important;
}