@import './global.scss';

.main-container {
    // padding-bottom: 80px;
}

/* HERO SECTION */
.hero-section {
    color: #F8F9FA;
    background-color: var(--primary-color-dark);
}
.hero-content {
    padding-top: 40px;
}
.hero-title {
    font-family: 'Markazi Text' !important;
    color: var(--primary-color-light);
}
.hero-sub-title {
    
}
.hero-text-content {
    margin-top: 30px;
    max-width: 60ch; /* Wraps after ~30 characters */
    overflow-wrap: break-word;
}
.booking-btn, .order-btn {
    a {
        text-decoration: none;
        color: inherit;
    }
}
.hero-img {
    width: auto;
    height: 400px;
    margin-bottom: -40px !important;
    box-shadow: 1px 1px 2px var(--primary-color-light);
    transition: 0.5s ease;

    // :hover{
    //     transform: scale(1.1);
    //     height: 300px
    // }
}
.hero-img:hover {
    // display: none;
    transform: scale(1.02);
    // transition: 0.5s ease;

}

.card {
    width: 360px;
    border-radius: 20px !important;
    box-shadow: 1px 1px 2px var(--primary-color-dark);
    img {
        border-top-left-radius: 20px !important;
        border-top-right-radius: 20px !important;
        // width: 360px;
    }
    margin-bottom: 20px;
}

/* HIGHLIGHTS */
.highlights-and-specials {
    margin-top: 120px;
    margin-bottom: 80px;
}

.highlights-header {
    margin-bottom: 30px;
}

.highlights-card {
    border: none !important;
    background-color: var(--secondary-color-3) !important;
    max-width: 300px;
    transition: 0.5s;
    &:hover {
      transform: scale(1.02);
    }
    img {
        height: 180px;
        object-fit: cover;
    }
    h5 {
        font-family: 'Markazi Text' !important;
        font-weight: bold;
    }
    .card-price {
        font-family: 'Markazi Text' !important;
        color: var(--secondary-color-1);
        font-weight: bold;
    }

    .order-delivery {
        font-weight: bolder;
        margin-top: auto; /* Pushes button to the bottom */
    }
  
}


@media screen and (max-width: 768px) {
    .hero-img {
        height: 200px;
        margin-bottom: 0;
        align-self: center;
    }

    .hero-content {
        padding-top: 20px;
        padding-bottom: 20px;
        // padding-left: 20px;
    }
}

/* TESTIMONIALS */

.testimonial-section {
    width: 100%;
    background-color: var(--primary-color-dark);
    padding: 1.5rem 0;
    font-family: var(--font-primary);
  }
  .testimonial-heading {
    font-size: 2.5rem;
    padding: 1.2rem 1.5rem 1rem;
    font-weight: 500;
    text-align: start;
    font-family: 'Markazi Text' !important;
    color: var(--primary-color-light);
  }
  .testimonial-sec-center {
    // padding: 7rem 0 9rem;
    padding: 1.5rem 0;
    gap: 2rem;
  }
  
  .testimonial-card {
    color: #495e57;
    grid-column: auto;
    grid-row: 2;
    min-height: 22.75rem;
    height: 8rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1), 0 4px 15px rgba(244, 206, 20, 0.5);
      &:hover {
        background-color: #fff;
        transform: scale(1.03);
        z-index: 5;
      }
  }
  
  .testimonial-img {
    width: 8rem;
    height: 8rem;
    object-fit: cover;
    margin: 0 auto 0.5rem auto;
    border-radius: 50%;
  }
  
  .testimonial-card h3 {
    margin: 0 auto 0 auto;
    color: var(--secondary-color-4);
    font-size: 26px;
  }

  .testimonial-quote {
    margin: 1rem auto 0 auto;
    font-size: 16px;
  }
  
  .testimonial-rating-section {
    // width: 100%;
    gap: 0.2rem;
    margin: 5px 0;
  }
  
/* ABOUT */
.about-section {
    min-height: 39rem;
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  
  .about-text-content {
    width: 94%;
    padding-top: 20px;
    header {
      margin-bottom: 60px;
    }
  }
  
  .about-text-content-header-h1 {
    font-family: 'Markazi Text' !important;
    color: var(--primary-color-light);
  }

  .about-text-content-header-h2 {
    font-size: 2rem;
    font-weight: 500;
  }
  
  .about-text-content-p {
    // font-size: 2rem;
    font-weight: 500;
    line-height: 2;
    word-spacing: 0.7rem;
    color: rgba(0, 0, 0, 0.6);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
    overflow: hidden;
  }
  
  .about-image-content {
    position: relative;
    // height: 100%;
  }
  
  .about-image-img {
    position: absolute;
    object-fit: cover;
    width: 272px;
    height: 338px;
  }
  
  .about-fig1 {
    top: 25px;
    right: 0;
  }
  
  .about-fig2 {
    bottom: 0;
    left: 0;
  }